<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></div>
        <h3>Lugar para poner la barra de búsqueda</h3>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav>
            <ul>
                <li><a href="#"></a>Ofertas</li>
                <li><a href="#"></a>Tiendas Oficiales</li>
                <li><a href="#"></a>Vender</li>
                <li><a href="#"></a>Ayuda</li>
            </ul>
            <ul>
                <li><a href="#"></a>Crea tu cuenta</li>
                <li><a href="#"></a>Ingresa</li>
                <li><a href="#"></a>Mis compras</li>
            </ul>
        </nav>
        <div><img src="/images/img-home-banner.jpg" alt="home-banner"></div>
    </header>
    <main>
        
    </main>
</body>
</html>