<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/501835e4a7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="home">
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="235" ></div>
        <h3 >Lugar para poner la barra de búsqueda</h3>
        <h3 class="home_cuotas-tarjeta"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav>
            <ul>
                <li><a href="#"></a>Ofertas</li>
                <li><a href="#"></a>Tiendas Oficiales</li>
                <li><a href="#"></a>Vender</li>
                <li><a href="#"></a>Ayuda</li>
            </ul>
            <ul>
                <li><a href="#"></a>Crea tu cuenta <i class="fa-regular fa-id-card"></i></li>
                <li><a href="#"></a>Ingresa <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#"></a>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div><i class="fa-solid fa-bars"></i></div>
    </header>
    <main>
        <div><img class="home_banner" src="/images/img-home-banner.jpg" alt="home-banner" width="300"></div>
        <section> 
            <h2 class="titulares">Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="215">
                <p id="precio">$6.770</p>
                <p id="descuento">40% OFF</p>
                <p id="descripcion"><b>Cafetera Moulinex</b></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" width="215">
                <p id="precio">$230.000</p>
                <p id="descuento">20% off</p>
                <p id="descripcion"><b>MacBook Pro 2019</b></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" width="215">
                <p id="precio">$70.500</p>
                <p id="descuento">10% off</p>
                <p id="descripcion"><b>Samsung Galaxy S10</b></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart" width="215">
                <p id="precio">$23.200</p>
                <p id="descuento">5% off</p>
                <p id="descripcion"><b>SmartTv Samsung 43"</b></p>
            </article>
        </section>
        <section>
            <h2 class="titulares">Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="215">
                <p id="precio">$6.770</p>
                <p id="descuento">40% OFF</p>
                <p id="descripcion"><b>Cafetera Moulinex</b></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" width="215">
                <p id="precio">$230.000</p>
                <p id="descuento">20% off</p>
                <p id="descripcion"><b>MacBook Pro 2019</b></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" width="215">
                <p id="precio">$70.500</p>
                <p id="descuento">10% off</p>
                <p id="descripcion"><b>Samsung Galaxy S10</b></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart" width="215">
                <p id="precio">$23.200</p>
                <p id="descuento">5% off</p>
                <p id="descripcion"><b>SmartTv Samsung 43"</b></p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin </p>
            <p>interés con tarjeta o efectivo en puntos de </p>
            <p>pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre </p>
            <p>tenés envíos gratis en miles de productos. Es </p>
            <p>un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, </p>
            <p>no hay nada que no puedas hacer, porque estás </p>
            <p>siempre protegid@.</p>
        </section>
        <section>
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>
    </footer>
</body>
</html>