<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></div>
        <h3>Lugar para poner la barra de búsqueda</h3>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav>
            <ul>
                <li><a href="#"></a>Ofertas</li>
                <li><a href="#"></a>Tiendas Oficiales</li>
                <li><a href="#"></a>Vender</li>
                <li><a href="#"></a>Ayuda</li>
            </ul>
            <ul>
                <li><a href="#"></a>Crea tu cuenta</li>
                <li><a href="#"></a>Ingresa</li>
                <li><a href="#"></a>Mis compras</li>
            </ul>
        </nav>
    </header>
    <main>
        <div><img src="/images/img-home-banner.jpg" alt="home-banner"></div>
        <section> 
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><b>Cafetera Moulinex</b></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <p>$230.000</p>
                <p>20% off</p>
                <p><b>MacBook Pro 2019</b></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% off</p>
                <p><b>Samsung Galaxy S10</b></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <p><b>SmartTv Samsung 43"</b></p>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><b>Cafetera Moulinex</b></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <p>$230.000</p>
                <p>20% off</p>
                <p><b>MacBook Pro 2019</b></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% off</p>
                <p><b>Samsung Galaxy S10</b></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <p><b>SmartTv Samsung 43"</b></p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin </p>
            <p>interés con tarjeta o efectivo en puntos de </p>
            <p>pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre </p>
            <p>tenés envíos gratis en miles de productos. Es </p>
            <p>un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, </p>
            <p>no hay nada que no puedas hacer, porque estás </p>
            <p>siempre protegid@.</p>
        </section>
        <section>
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>
    </footer>
</body>
</html>