.main__login {
    width: 100%;
    background-color: var(--colorGrisClaro);
    padding: 10px;
}

.box__login {
    width: 90%;
    margin: 50px auto;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px #c0c0c0;
    border-radius: 5px;
}

.form__box-login{
    width: 75%;
    margin-bottom: 20px;
    margin-left:15%;
}

.button {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.button-1 {
    background-color: var(--colorCeleste);
    color: #ffffff;
}

@media (min-width:768px) {
    .box__login {
        width: 50%;
    }
}
