:root {
    --colorAmarillo: #eac926;
    --colorAzul: #03264c;
    --colorCeleste: #1259c3;
    --coloGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--colorAmarillo);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    max-width: 1180px;
}

.header__logo {
    width: 40%;
    padding: 28px 15px 0;
}

.header__barra__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.barra__busqueda {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.input__barra{
    width: 100%;
    padding: 8px 0;
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid var(--colorGrisClaro);
    
}
.barra__busqueda span i {
    position: absolute;
    background-color: #ffffff;
    color: var(--coloGrisOscuro);
    font-size: 17px;
    bottom: 12%;
    right: 2%;
    cursor: pointer;
}

.home_cuotas-tarjeta {
    font-size: 12px;
    text-align: center;
    padding: 15px 0;
}

.header__menu-horizontal1, .header__menu-horizontal2 {
    display: none;
}

.home_banner {
    width: 100%;
    margin: 20px 0;
}

ul li a {
    color: #000000;
    text-decoration: none;
}

h2.titulares {
    font-size: 24px;
    padding: 15px 0;
    text-align: center;
}

.burger-menu {
    color: #ffffff; 
    background-color: var(--colorCeleste);
    display: block;
    max-width: 40px;
    padding: 8px 0;
    border-radius: 20%;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    padding: 0 auto ;
}

.main__section__article { 
    display: block;
    background-color: #ffffff;
    width: 100%;
    justify-content: center;
    margin: 10px ;
    
}

.main__section__article__div {
    border: 1px solid var(--colorGrisClaro);
    padding: 0 15px;
}

.main__section__article i {
    display: block;
    font-size: 16px;
    color: var(--colorVerde);
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--colorVerde);
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    left: 90%;
    top: -15px;
}

.main__section__article__img {
    width: 100%;
    justify-content: space-between;
}

#precio {
    font-size: 18px;
}

#descuento {
    font-size: 16px;
    color: var(--colorVerde);
}

#precYdesc {
    display: flex;
    flex-grow: 0.30;
    gap: 10px;
   
}

#descripcion {
    font-size: 16px;
    color: var(--coloGrisOscuro);
    margin: 10px 0;
}

.footer {
    background-color: var(--colorGrisClaro);
    text-align: center;
    padding: 55px 0 0 0;
}

.footer__section {
    padding: 15px;
}

.footer__icono {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom: 10px;
}

.footer__titulo {
    line-height: 18px;
}

.footer__copyright {
    color: var(--coloGrisOscuro);
    font-size: 13px;
    text-align: justify;
    margin-left: 15px;
}

@media (min-width: 768px ){

    .burger-menu {
        display: none;
    }

    .header__barra__logo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .header__logo{
        width: 30%;
    }

    .barra__busqueda {
        width: 100%;
    }

    .home_cuotas-tarjeta {
        width: 40%;
    }

    .header__menu-horizontal1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-top: 20px;
        padding-left: 15px;
    }

    .header__menu-horizontal1 i{
        margin-left: 5px;
    }

    .header__menu-horizontal1 nav{
        width: 45%;
    }

    .header__menu-horizontal1 nav ul{
        display: flex;
        gap: 20px;
    }

    .header__menu-horizontal2{
        display: inline-block;
        justify-content: flex-end;

    }

    .main__section__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        background-color: #ffffff;
    }

    #descripcion {
        display: block;
        font-size: 16px;
        color: var(--coloGrisOscuro);
        margin-top: 10px;
    }

}

@media (min-width: 1024px ) {

    .header__logo {
        width: 25%;
    }

    ul {
        display: block;
    }

    .main__section__article {
        box-shadow : 0px 0px 10px rgb(100, 100, 100);
        background-color: #ffffff;
    }

    #descripcion {
        display: block;
        font-size: 16px;
        color: var(--coloGrisOscuro);
        margin-top: 10px;
    }
}